section {
  width: 800px;
  height: 800px;
  border: 5px dotted black;
}

img {
  width: 100px;
  height: 100px;
}

.most-outer-playground {
  display: flex;
  background-color: lightblue;
  height: 100%;
  justify-content: space-between;
}

.outer-playground1 {
  display: flex;
  background-color: lightgreen;
  height: 100%;
  flex-direction: column;
  justify-content: end;
}

.outer-playground2 {
  display: flex;
  background-color: yellow;
  height: 100%;
  flex-direction: column;
  justify-content: start;
}