@use 'variables/country-es' as spain;
@use 'variables/country-in' as india;
@use 'variables/country-jp' as japan;
@use 'variables/country-se' as sweden;
@use 'variables/country-de' as germany;

@mixin continent-font-style($continent) {
  @if $continent == europe {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: lighter;
  } @else if $continent == asia {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
  }
}

.classroom {
  display: grid;
  grid-template-columns: auto auto auto;
}

.desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: grey;
  padding: 20px;
  margin: 20px;
}

.spain {
  &::before {
    content: url('https://flagicons.lipis.dev/flags/4x3/es.svg');
  }
  p {
    border: 2px solid spain.$primary-colour;
    color: spain.$secondary-colour;

    @include continent-font-style(europe);
  }
}

.india {
  &::before {
    content: url('https://flagicons.lipis.dev/flags/4x3/in.svg');
  }
  p {
    border: 1px solid india.$primary-colour;
    color: india.$secondary-colour;

    @include continent-font-style(asia);
  }
}

.japan {
  &::before {
    content: url('https://flagicons.lipis.dev/flags/4x3/jp.svg');
  }
  p {
    border: 1px solid japan.$primary-colour;
    color: japan.$secondary-colour;

    @include continent-font-style(asia)
  }
}

.sweden {
  &::before {
    content: url('https://flagicons.lipis.dev/flags/4x3/se.svg');
  }
  p {
    border: 1px solid sweden.$primary-colour;
    color: sweden.$secondary-colour;

    @include continent-font-style(europe);
  }
}

.germany {
  &::before {
    content: url('https://flagicons.lipis.dev/flags/4x3/de.svg');
  }
  p {
    border: 1px solid germany.$primary-colour;
    color: germany.$secondary-colour;

    @include continent-font-style(europe);
  }
}
